<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 加载数据库配置文件db.properties -->
    <context:property-placeholder location="classpath:db.properties" />
    <!-- 配置数据源信息 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!-- 配置数据库信息 -->
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>
    <!-- 事务管理器，依赖于数据源   -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--  注册事务管理器驱动  -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- 在SpringIOC容器中 创建MyBatis核心类 SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--   配置数据源   -->
        <property name="dataSource" ref="dataSource"/>
        <!--   加载MyBatis配置文件    -->
        <property name="configLocation" value="classpath:mybatis.xml"/>
        <!--    加载mapper文件（类路径）   -->
        <property name="mapperLocations" value="classpath:com/per/gnake/mapper/*.xml"/>
    </bean>
    <!-- 配置mapper相关扫描器 将MyBatis的SQLSessionFactory交给Spring -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定批量产生mapper的包 -->
        <property name="basePackage" value="com.per.gnake.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    <!-- 依赖注入   -->
    <!--  学生  -->
    <bean id="studentDao" class="com.per.gnake.dao.impl.StudentDaoImpl"/>
    <bean id="studentService" class="com.per.gnake.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"/>
    </bean>

    <!-- 老师   -->
    <bean id="teacherDao" class="com.per.gnake.dao.impl.TeacherDaoImpl"/>
    <bean id="teacherService" class="com.per.gnake.service.impl.TeacherServiceImpl">
        <property name="teacherDao" ref="teacherDao"/>
    </bean>

    <!--  管理员  -->
    <bean id="adminDao" class="com.per.gnake.dao.impl.AdminDaoImpl"/>
    <bean id="adminService" class="com.per.gnake.service.impl.AdminServiceImpl">
        <property name="adminDao" ref="adminDao"/>
    </bean>

    <!-- 选课表   -->
    <bean id="dectiveDao" class="com.per.gnake.dao.impl.DectiveDaoImpl"/>
    <bean id="dectiveService" class="com.per.gnake.service.impl.DectiveServiceImpl">
        <property name="dectiveDao" ref="dectiveDao"/>
    </bean>

    <!--  课程  -->
    <bean id="courseDao" class="com.per.gnake.dao.impl.CourseDaoImpl"/>
    <bean id="courseService" class="com.per.gnake.service.impl.CourseServiceImpl">
        <property name="courseDao" ref="courseDao"/>
    </bean>
</beans>