<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.per.gnake.mapper.StudentMapper">

    <!--  返回登录密码 -->
    <select id="queryStuPassword" parameterType="String" resultType="String">
        select spassword from student where sno = #{sno}
    </select>

    <!-- 查看所有学生信息   -->
    <select id="queryAllStudent"  resultType="student">
        select * from student
    </select>

    <!--  查寻单个学生信息  -->
    <select id="querySingleStudent" parameterType="String" resultType="student">
        select * from student where sno = #{sno}
    </select>

    <!-- 查询学号是否存在  -->
    <select id="queryStuSno" resultType="Integer">
        select count(*) from student where sno = #{sno}
    </select>

<!--查询已选课程-->
    <select id="querySelectedCourse" parameterType="String" resultType="courseVo">
        select d.cno,c.cname,c.ccredit,d.score from dective d, course c
        where sno = #{sno} and d.cno = c.cno
    </select>

<!--  选课与退选  -->
    <select id="queryAllCourse" resultType="courseVo1">
        select c.cno,c.cname,c.ctime,c.ccredit,t.tname from course c,teacher t
        where c.tno = t.tno
    </select>

    <!-- 增加学生   -->
    <insert id="addStudent" parameterType="student">
        insert into student (sno, sname, ssex, sclass, sgrade, scollege) values
        (#{sno}, #{sname}, #{ssex}, #{sclass}, #{sgrade}, #{scollege})
    </insert>

    <!-- 删除学生   -->
    <delete id="deleteStudent" parameterType="String">
        delete from student where sno = #{sno}
    </delete>

    <!-- 修改学生   -->
    <update id="updateStudent" parameterType="student">
        update student set
        sname = #{sname}, spassword = #{spassword}, ssex = #{ssex}, sclass = #{sclass},
        sgrade = #{sgrade}, scollege = #{scollege} where sno = #{sno}
    </update>
</mapper>