/*表单设置*/
.con {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 20px;
    background: #635c5c;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px  25px #111;/*阴影设置*/
}
.con h2 {
    margin: 1px 1px 30px;
    padding: 0;
    text-align: center;
    color: #FF78BB;
}
.con .login-field {
    position: relative;
}
.login-check {
    margin-top: 3px;
}
.con .login-field input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #707070;
    margin-bottom: 30px;
    outline: none;
    /*边框，无添加属性*/
    border-bottom: 1px solid #FF78BB;
}
.con button {
    background: #FF78BB;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    /*指定放在button时光标显示一只手*/
    border-radius: 5px;
}
.login-sub {
    text-align: center;
}